In [234]:
import pandas as pd
import random

In [241]:
df = pd.read_csv('autos.csv')

In [236]:
values_to_replace = ['privat',
    'gewerblich',
    'limousine',
    'kleinwagen',
    'kombi',
    'cabrio',
    'andere',
    'manuell',
    'automatik',
    'benzin',
    'elektro',
    'ja',
    'nein'
]

new_values = ['private',
    'commercial',
    'sedan',
    'compact car',
    'station wagon',
    'convertible',
    'other',
    'manual',
    'automatic',
    'gasoline',
    'electric',
    'yes',
    'no'
]

In [237]:
df = df.drop(['index','name','dateCrawled','nrOfPictures', 'dateCreated', 'postalCode', 'offerType', 'seller', 'lastSeen'], axis=1)
df = df.dropna(subset=['model'])
df = df.replace(values_to_replace, new_values)

In [238]:
df['vehicleType'] = df['vehicleType'].apply(lambda x: x if pd.notnull(x) else random.choice(['convertible','coupe','suv','other']))
df['fuelType'] = df['fuelType'].apply(lambda x: x if pd.notnull(x) else random.choice(['electric','hybrid']))
df['notRepairedDamage'].fillna("yes",inplace=True)
df['gearbox'].fillna("automatic",inplace=True)

In [239]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 351044 entries, 0 to 371527
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   price                351044 non-null  int64
 1   abtest               351044 non-null  object
 2   vehicleType          351044 non-null  object
 3   yearOfRegistration   351044 non-null  int64
 4   gearbox              351044 non-null  object
 5   powerPS              351044 non-null  int64
 6   model                351044 non-null  object
 7   kilometer            351044 non-null  int64
 8   monthOfRegistration  351044 non-null  int64
 9   fuelType             351044 non-null  object
 10  brand                351044 non-null  object
 11  notRepairedDamage    351044 non-null  object
dtypes: int64(5), object(7)
memory usage: 34.8+ MB

In [240]:
df.to_csv('cleaned_used_cars.csv', index=False)