In [2]:
# Importing the necessary libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler

In [3]:
df = pd.read_csv("../../Dataset/cleaned_used_cars_v2.csv")

In [4]:
df.columns

Index(['price', 'abtest', 'vehicleType', 'yearOfRegistration', 'gearbox',
       'powerPS', 'model', 'kilometer', 'monthOfRegistration', 'fuelType',
       'brand', 'notRepairedDamage'],
      dtype='object')

In [5]:
# Preprocessing the dataset
# df.drop(['index', 'dateCrawled', 'name', 'offerType', 
#        'abtest', 'vehicleType', 'powerPS', 'monthOfRegistration',
#        'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
#        'lastSeen'], axis=1, inplace=True)
# df.dropna(inplace=True)
# df["year"] = 2023 - df["yearOfRegistration"]

In [6]:
df = pd.get_dummies(df, columns=["brand", "gearbox",'model','fuelType','abtest','vehicleType','notRepairedDamage'], drop_first=True)
X = df.drop('price',axis=1)
y = df['price']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
X

,yearOfRegistration,powerPS,kilometer,monthOfRegistration,brand_audi,brand_bmw,brand_chevrolet,brand_chrysler,brand_citroen,brand_dacia,...,fuelType_other,abtest_test,vehicleType_compact car,vehicleType_convertible,vehicleType_coupe,vehicleType_other,vehicleType_sedan,vehicleType_station wagon,vehicleType_suv,notRepairedDamage_yes
0,1993,0,150000,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,1
1,2004,163,125000,8,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,1
2,2001,75,150000,6,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
3,2008,69,90000,7,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
4,1995,102,150000,10,0,1,0,0,0,0,...,0,1,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351039,2005,0,150000,7,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
351040,2000,101,125000,3,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
351041,1996,102,150000,3,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
351042,2002,100,150000,6,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,1
351043,2013,320,50000,8,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [9]:
# Scale the features using StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [10]:
# Train the SVM model
reg = SVR(kernel='rbf', C=10, gamma=0.1)
reg.fit(X_train_scaled, y_train)

In [ ]:
# Evaluate the performance of the model
y_pred = reg.predict(X_test_scaled)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = reg.score(X_test_scaled, y_test)

print("Mean Squared Error:", mse)
print("Root Mean Squared Error:", rmse)
print("R-squared Score:", r2)

# Use the trained model to predict the price of a used car
sample = X_test.iloc[0]
actual_price = y_test.iloc[0]
sample_scaled = scaler.transform([sample])
predicted_price = reg.predict(sample_scaled)[0]

print("Actual Price:", actual_price)
print("Predicted Price:", predicted_price)